---
---
@import "{{ site.theme }}";

/* This changes ALL clickable links (including the title) to your brown color */
a {
  color: #964B00 !important; 
}

/* This is the hover effect for links */
a:hover {
  color: #DEB887 !important; 
}
